$primary-color: #ff0000;
$secondary-color: #282d30;
$tertiary-color: #fbfbfb;

$black-font-color: #000000;
$dark-blue-font-color: #20263a;
$gray-font-color: #74798c;

$background-color: #e5e5e5;
$nav-color: #020203;

$button-red: rgba(255, 0, 0, 0.1);
$button-blue: rgba(74, 184, 255, 0.1);
$button-yellow: rgba(249, 206, 35, 0.1);
$button-pink: rgba(253, 81, 129, 0.1);

$breakpoint-desktop: 1024px;
