$primary-color: #ff0000;
$secondary-color: #282d30;

$black-font-color: #000000;
$dark-blue-font-color: #20263a;
$gray-font-color: #74798c;

$background-color: #e5e5e5;
$nav-color: #020203;

$button-red: rgb(255, 0, 0);
$button-blue: rgb(74, 184, 255);
$button-yellow: rgb(249, 206, 35);
$button-pink: rgb(253, 81, 129);

$breakpoint-desktop: 1024px;
