$primary-color: #ff0000;
$secondary-color: #282d30;

$black-font-color: #000000;
$dark-blue-font-color: #20263A;
$gray-font-color: #74798C;

$background-color: #e5e5e5;
$nav-color: #020203;

$breakpoint-desktop: 1024px;