.verticalContainer {
    display: flex;
    position: fixed;
    bottom: 0;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 117px;
    background-color: $nav-color;
}

.copyright {
    display: flex;
    color: white;
    white-space: nowrap;
    @include font(0.75rem, 500);
    margin-bottom: 6.5rem;
    transform: rotate(-90deg);
}