.chartsZone-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 613px;
    width: 835px;
}

.bigChart-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.littleCharts-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}