.dashboard-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	height: 89px;
	width: 1126px;
	border: 1px solid pink;

	&__user-container {
		display: flex;
		align-items: baseline;
		@include font(2.5rem, 500);
	}

    &__user-congrats{
        font-size: 1rem;
    }

	h2 {
		margin-left: 10px;
        color: $primary-color;
	}
}
