.verticalButtons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20rem;
    width: 4rem;
    // margin-top: 347px;
    margin: auto;
}